@import "./transition.scss";
@import "@/theme/index.scss";
.layout-container {
  background-color: var(--system-container-main-background);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  &-form {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0;
    &-handle {
      display: flex;
      justify-content: flex-start;
    }
    &-search {
      display: flex;
      justify-content: flex-end;
      .search-btn {
        margin-left: 15px;
      }
    }
    .el-form-item {
      margin-bottom: 0;
    }
  }
  &-table {
    flex: 1;
    height: 100%;
    padding: 15px;
    overflow: auto;
  }
}
.flex-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
a {
  text-decoration: none;
}

/** element-plus **/
.el-icon{
  text-align: center;
}

/** 用于提示信息 **/
.my-tip {
  background-color: #f1f1f1;
  padding: 5px 10px;
  text-align: left;
  border-radius: 4px;
}
.system-scrollbar {
  &::-webkit-scrollbar {
    display: none;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144, 147, 153, 0.3);
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(144, 147, 153, 0.3);
      &:hover {
        background: rgba(144, 147, 153, 0.5);
      }
    }
  }
 
}