:root {
  // 主题色
  --system-primary-color: #409eff;
  // logo颜色相关
  --system-logo-color: #f1f1f1;
  --system-logo-background: #263445;
  // 菜单颜色相关
  --system-menu-background: #28415a;
  --system-menu-text-color: #bfcbd9;
  // header区域
  // contaier区域，页面区
  --system-container-background: #f0f2f5;
  // element主题色修改
  --el-color-primary: var(--system-primary-color);
}

